1. max_concurrent_requests 

 전송에 사용하는 Requests(최대 동시 작업수)의 갯수를 지정하며 기본값은 10 / 값을 증가 시킬 경우 CPU 스레드 사용량과 전송속도가 증가함

(etc 값이 10일 경우 동시에 10개 파일을 업로드함)

2. max_queue_size

Request를 대기하는 Queue의 갯수로 “파일의 용량/Chunk Size=Queue 의 갯수” 이다 기본값은 1000개이며 대용량의 파일을 업로드시 Queue Size를 늘려 전송할수 있게 해야함

(단 값이 커질 수록 Memory 사용량이 증가함)

3. multipart_threshold

파일을 Chunk로 나누는 임계값으로 값보다 큰 용량의 파일을 Chunk Size 단위로 나눠져 Multipart로 보내지게 됨, 기본값은 8MB

네트워크의 환경에 따라 최적화가 필요함

4. multipart_chunksize

임계값 보다 큰 파일을 나누는 단위로 Chunk Size단위로 파일이 나눠져 전송됨, 이때 Chunk Size, Queue Sized에 따라 전송 가능한 용량이 할당됨

참고 URL: https://stackoverflow.com/questions/46556972/what-is-the-optimal-setting-for-multipart-threshold-and-multipart-chunksize-whil
