###### 수집 방법

for number in {1..9}
do
    echo "tpch${number}.sql" | tee -a total_time
    (time tcon -f tpch${number}.sql > tpch0${number}.out 2>&1) 2>>total_time
    echo ""
    echo "====================================================================">>total_time
done
wait

###### 변환 전

$ cat total_time.test
tpch1.sql

real	3m2.498s
user	0m0.017s
sys	0m0.018s
====================================================================
tpch2.sql

real	0m51.369s
user	0m0.022s
sys	0m0.004s
====================================================================
tpch3.sql

real	3m7.028s
user	0m0.015s
sys	0m0.020s
====================================================================
tpch4.sql

real	0m47.669s
user	0m0.009s
sys	0m0.013s
====================================================================
tpch5.sql

real	4m39.098s
user	0m0.038s
sys	0m0.009s
====================================================================
tpch6.sql

real	0m0.639s
user	0m0.007s
sys	0m0.010s
====================================================================


###### 변환 후

$ grep "real" total_time.test | awk -F"\t" '{print $2}' | awk '{split($1,a,"m|s");print (a[1]*60)+a[2];}'
182.498
51.369
187.028
47.669
279.098
0.639


###### 코드 설명
grep "real" total_time.test | awk -F"\t" '{print $2}' > Tab을 기준으로 2번째 항목(시간값)만 추출
awk '{split($1,a,"m|s");print "$s",(a[1]*60)+a[2];}' >
>split($1,a,"m|s"); == 시간값을 m와 s로 나누고 a배열에 저장
>print "$s",(a[1]*60)+a[2]; == 추출한 a[1](분), a[2](초)를 연산후 출력
