1.

SQream v4.3 부터 Legacy Json에 “AwsEndpointOverride” 기능 추가 됨

```bash
{
    "tablespaceURL": "***",
    "insertCompressors": 8,
    "insertParsers": 16,
    "spoolMemoryGB": 400,
    "diskSpaceMinFreePercent": 5,
    "useMetadataServer": true,
    "AwsEndpointOverride": "***"
}
```

v4.2 이전까지는 .aws/config 에 구성된 Region 정보를 통해 AWS CLI 실행시 바라보는 EndPoint가 지정됨

AWS CLI에서는 --endpoint-url 옵션으 통해 EndPoint Override가 가능하나 SQream상에서는 불가하여 AWS이외의 S3 사용이 불가함

v4.3부터 추가된 “AwsEndpointOverride” 옵션을 통해 Worker 단위로 AWS 이외의 S3로 통신 및 구성이 가능해짐

(단 Target Endpoint 구성에 따라 SSL 사용유무, “AwsObjectAccessStyle” 등 추가 설정은 필요함)

(Etc. Service 별로 서로 다른 endpoint를 할당하여 서로 다른 Object Storage에서 데이터를 가져오는 구성)

(v4.3_Cloudian_Patch 이전 버전은 S3에서만 정상 작동하며 / 이후 버전 부터 타 S3호환 환경에서도 사용가능

2.

SQream v4.3부터 Json에 “tempPath”에 S3 저장소를 사용 가능함

```bash
{
"tempPath": "***",
~~~
}
```

해당 옵션을 사용할 경우 서버의 용량이 부족하더라도 tempPath 우회가 가능함(단 temp영역이 S3에 올라가기 때문에 성능 저하 발생하므로 권고 사항은 아님)

3.

SQream V4.3부터 Legacy Json에 “tablespaceURL”에 S3 저장소를 사용 가능함

```bash
{
    "tablespaceURL": "***",
    "insertCompressors": 8,
    "insertParsers": 16,
    "spoolMemoryGB": 400,
    "diskSpaceMinFreePercent": 5,
    "useMetadataServer": true,
    "AwsEndpointOverride": "***"
}
```

이 경우 Table Sapce영역이 S3에 저장되어 S3내에서 데이터 송수신 하도록 하게함
